<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<#include "/macro.include"/>
<#assign className = table.className>
<#assign classNameLower = className?uncap_first>
<#macro mapperEl value>${r"#{"}${value}}</#macro>

<!-- ${table.tableAlias}Mapper.xml文件 -->
<mapper namespace="${basepackage}.${subpackage}.dao.${className}Mapper">

	<!-- 通用where子句 -->
    <sql id="where">
	<trim prefix="WHERE" prefixOverrides="AND|OR"> 
        <#list table.columns as column>
	       <#if column.javaType == 'String'> <#-- 条件1 -->
		   <if test="${column.columnNameFirstLower} != null and ${column.columnNameFirstLower} != ''">
			   AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
		   </if>
		   <#elseif column.javaType == 'Float'> <#-- 条件2 -->
		   <if test="${column.columnNameFirstLower} != null and ${column.columnNameFirstLower} != '0'">
			   AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
		   </if>
		   <#elseif column.sqlName != 'last_update_tm'> <#-- 条件3 -->
		   <if test="${column.columnNameFirstLower} != null">
				AND ${column.sqlName} = <@mapperEl column.columnNameFirstLower/>
		   </if>
		   <#else>    
	       </#if>
	     </#list>
	</trim>
    </sql>

	<!-- 通用行别名列名映射 -->
    <sql id="Base_Column_List" >
        <#list table.columns as column>
	        ${column.sqlName} ${column.columnNameFirstLower} <#if column_has_next>,</#if>
	    </#list>
    </sql>
	
	
    <select id="getById" resultType="${basepackage}.${subpackage}.entity.${className}Entity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${table.sqlName}
        <where>
        <#list table.compositeIdColumns as column>
	         ${column.sqlName} = <#noparse>#{id}</#noparse>
		</#list>
		</where>
    </select>

    <select id="getByIds" resultType="${basepackage}.${subpackage}.entity.${className}Entity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ${table.sqlName}
        WHERE  <#list table.compositeIdColumns as column>${column.sqlName} IN</#list>
	    <#noparse>
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
		#{id}
		</foreach>
		</#noparse>
    </select>

    <insert id="insert" parameterType="${basepackage}.${subpackage}.entity.${className}Entity">
        insert into ${table.sqlName} (
		<trim suffixOverrides=",">
		<#list table.columns as column>
		<#if column.javaType == 'String'>
		<if test="${column.columnNameFirstLower} != null and  ${column.columnNameFirstLower} != ''">
			${column.sqlName} <#if column_has_next>,</#if>
		</if>
		<#else>
		<if test="${column.columnNameFirstLower} != null">
			${column.sqlName} <#if column_has_next>,</#if>
		</if>
		</#if>
        </#list>
		</trim>

        ) VALUES (
        <trim suffixOverrides=",">
		<#list table.columns as column>
		<#if column.javaType == 'String'>
		<if test="${column.columnNameFirstLower} != null and  ${column.columnNameFirstLower} != ''">
			<@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		<#elseif column.javaType == 'Float'>
		<if test="${column.columnNameFirstLower} != null and  ${column.columnNameFirstLower} != 0">
			<@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		<#else>
		<if test="${column.columnNameFirstLower} != null">
			<@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		</#if>
        </#list>
        </trim>
        )
    </insert>

    <update id="update" parameterType="${basepackage}.${subpackage}.entity.${className}Entity" >
        UPDATE ${table.sqlName} SET
        <trim suffixOverrides=",">
		<#list table.notPkColumns as column>
		<#if column.javaType == 'String'>
		<if test="${column.columnNameFirstLower} != null and  ${column.columnNameFirstLower} != ''">
			${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		<#elseif column.javaType == 'Float'>
		<if test="${column.columnNameFirstLower} != null and  ${column.columnNameFirstLower} != 0">
			${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		<#else>
		<if test="${column.columnNameFirstLower} != null">
			${column.sqlName} = <@mapperEl column.columnNameFirstLower/> <#if column_has_next>,</#if>
		</if>
		</#if>
	    </#list>
        </trim>
        WHERE 
        	<#list table.compositeIdColumns as column>
	        ${column.sqlName} = <@mapperEl column.columnNameLower/> <#if column_has_next>,</#if>
	        </#list>
    </update>	
	
	<update id="deleteById" parameterType="java.lang.Long" >
        UPDATE ${table.sqlName} SET
		<#noparse>
	    is_flag = 0,
        updated_by = #{updatedBy},
        updated_name = #{updatedName},
        updated_tm = #{updatedTm}
		</#noparse>
        <where>
		<#list table.compositeIdColumns as column>
		 ${column.sqlName} = <#noparse>#{id}</#noparse>
		</#list>
		</where>
    </update>	
	
	<update id="deleteByIds" parameterType="java.util.List" >
        UPDATE ${table.sqlName} SET
		<#noparse>
	    is_flag = 0,
        updated_by = #{updatedBy},
        updated_name = #{updatedName},
        updated_tm = #{updatedTm}
		</#noparse>
        WHERE  <#list table.compositeIdColumns as column>${column.sqlName} IN</#list>
		<#noparse>
		<foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
		</#noparse>
    </update>
</mapper>